In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, GRU, BatchNormalization
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.regularizers import l1, l2, l1_l2

In [4]:
df = pd.read_csv('.data/historical_stock_prices.csv')

FileNotFoundError: [Errno 2] No such file or directory: '.data/historical_stock_prices.csv'

In [ ]:
df.head()

In [ ]:
df_XOM =  df.loc[df['ticker'] == 'XOM']
df_MRO =  df.loc[df['ticker'] == 'MRO']
df_OXY =  df.loc[df['ticker'] == 'OXY']

df_energy = df_XOM.merge(df_MRO, on='date')

df_energy = df_energy.merge(df_OXY, on = "date")

In [126]:
df_energy.head()

,ticker_x,open_x,close_x,adj_close_x,low_x,high_x,volume_x,date,ticker_y,open_y,...,low_y,high_y,volume_y,ticker,open,close,adj_close,low,high,volume
0,XOM,3.890625,3.906250,0.110121,3.875000,3.921875,3553600,1981-12-31,MRO,7.456250,...,7.363047,7.487318,167300,OXY,11.347040,11.496737,0.541441,11.197343,11.496737,431600
1,XOM,3.875000,3.859375,0.108800,3.843750,3.906250,5092000,1982-01-04,MRO,7.456250,...,7.394114,7.487318,195800,OXY,11.496737,11.496737,0.541441,11.376980,11.556616,329600
2,XOM,3.828125,3.796875,0.107038,3.781250,3.859375,6369600,1982-01-05,MRO,7.425182,...,7.331979,7.487318,254100,OXY,11.376980,11.317101,0.532980,11.317101,11.436858,383300
3,XOM,3.781250,3.796875,0.107038,3.750000,3.796875,10009600,1982-01-06,MRO,7.238776,...,7.145573,7.331979,390200,OXY,11.317101,11.376980,0.535800,11.257221,11.376980,281800
4,XOM,3.781250,3.796875,0.107038,3.765625,3.796875,4474400,1982-01-07,MRO,7.114505,...,6.959167,7.238776,691000,OXY,11.317101,11.376980,0.535800,11.257221,11.376980,168600

In [127]:
for col in df_energy.columns: 
    print(col)

ticker_x
open_x
close_x
adj_close_x
low_x
high_x
volume_x
date
ticker_y
open_y
close_y
adj_close_y
low_y
high_y
volume_y
ticker
open
close
adj_close
low
high
volume

In [128]:
df_energy["open energy"] = df_energy["open_x"] + df_energy["open_y"] + df_energy["open"]

df_energy["close energy"] = df_energy["close_x"] + df_energy["close_y"] + df_energy["close"]

df_energy["adjusted close energy"] = df_energy["adj_close_x"] + df_energy["adj_close_y"] + df_energy["adj_close"]

df_energy["low energy"] = df_energy["low_x"] + df_energy["low_y"] + df_energy["low"]

df_energy["high energy"] = df_energy["high_x"] + df_energy["high_y"] + df_energy["high"]

df_energy["volume energy"] = df_energy["volume_x"] + df_energy["volume_y"] + df_energy["volume"]

In [129]:
df_energy.drop(columns = ["ticker_x",
"open_x",
"close_x",
"adj_close_x",
"low_x",
"high_x",
"volume_x",
"date",
"ticker_y",
"open_y",
"close_y",
"adj_close_y",
"low_y",
"high_y",
"volume_y",
"ticker",
"open",
"close",
"adj_close",
"low",
"high",
"volume"],
inplace = True)

In [130]:
df_energy.head()

,open energy,close energy,adjusted close energy,low energy,high energy,volume energy
0,22.693915,22.828170,1.158364,22.435390,22.905930,4152500
1,22.827988,22.812363,1.159162,22.614844,22.950183,5617400
2,22.630287,22.508090,1.144699,22.430330,22.783551,7007000
3,22.337127,22.412631,1.136917,22.152794,22.505834,10681600
4,22.212856,22.288360,1.128435,21.982013,22.412631,5334000

In [182]:
df_energy.to_csv('df_energy.csv')

Code For Materials Sector

In [131]:
df_FCX =  df.loc[df['ticker'] == 'FCX']
df_IFF =  df.loc[df['ticker'] == 'IFF']
df_NEM =  df.loc[df['ticker'] == 'NEM']

df_materials = df_FCX.merge(df_IFF, on='date')

df_materials = df_materials.merge(df_NEM, on = "date")

In [132]:
df_materials["open materials"] = df_materials["open_x"] + df_materials["open_y"] + df_materials["open"]

df_materials["close materials"] = df_materials["close_x"] + df_materials["close_y"] + df_materials["close"]

df_materials["adjusted close materials"] = df_materials["adj_close_x"] + df_materials["adj_close_y"] + df_materials["adj_close"]

df_materials["low materials"] = df_materials["low_x"] + df_materials["low_y"] + df_materials["low"]

df_materials["high materials"] = df_materials["high_x"] + df_materials["high_y"] + df_materials["high"]

df_materials["volume materials"] = df_materials["volume_x"] + df_materials["volume_y"] + df_materials["volume"]

In [133]:
df_materials.drop(columns = ["ticker_x",
"open_x",
"close_x",
"adj_close_x",
"low_x",
"high_x",
"volume_x",
"date",
"ticker_y",
"open_y",
"close_y",
"adj_close_y",
"low_y",
"high_y",
"volume_y",
"ticker",
"open",
"close",
"adj_close",
"low",
"high",
"volume"],
inplace = True)

In [183]:
df_materials.to_csv('df_materials.csv')

Industrials Merge

In [134]:
df_GE =  df.loc[df['ticker'] == 'GE']
df_AAL =  df.loc[df['ticker'] == 'AAL']
df_UAL =  df.loc[df['ticker'] == 'UAL']

df_industrials = df_GE.merge(df_AAL, on='date')

df_industrials = df_industrials.merge(df_UAL, on = "date")

In [135]:
df_industrials["open industrials"] = df_industrials["open_x"] + df_industrials["open_y"] + df_industrials["open"]

df_industrials["close industrials"] = df_industrials["close_x"] + df_industrials["close_y"] + df_industrials["close"]

df_industrials["adjusted close industrials"] = df_industrials["adj_close_x"] + df_industrials["adj_close_y"] + df_industrials["adj_close"]

df_industrials["low industrials"] = df_industrials["low_x"] + df_industrials["low_y"] + df_industrials["low"]

df_industrials["high industrials"] = df_industrials["high_x"] + df_industrials["high_y"] + df_industrials["high"]

df_industrials["volume industrials"] = df_industrials["volume_x"] + df_industrials["volume_y"] + df_industrials["volume"]

In [136]:
df_industrials.drop(columns = ["ticker_x",
"open_x",
"close_x",
"adj_close_x",
"low_x",
"high_x",
"volume_x",
"date",
"ticker_y",
"open_y",
"close_y",
"adj_close_y",
"low_y",
"high_y",
"volume_y",
"ticker",
"open",
"close",
"adj_close",
"low",
"high",
"volume"],
inplace = True)

In [138]:
df_industrials.head()

,open industrials,close industrials,adjusted close industrials,low industrials,high industrials,volume industrials
0,96.869999,95.920002,80.550484,95.010002,97.529999,25653100
1,95.910002,94.300003,79.161594,92.559999,96.080002,40505100
2,92.870001,94.730001,79.459028,92.119999,95.950003,36586200
3,92.529999,97.769999,82.256662,91.819998,98.500000,34783300
4,97.339996,97.520000,81.905180,96.209997,99.439999,29192600

In [184]:
df_industrials.to_csv('df_industrials.csv')

Consumer Discretionary

In [1]:
df_F =  df.loc[df['ticker'] == 'F']
df_CCL =  df.loc[df['ticker'] == 'CCL']
df_TJX =  df.loc[df['ticker'] == 'TJX']

df_consumer_discretionary = df_F.merge(df_CCL, on='date')

df_consumer_discretionary = df_consumer_discretionary.merge(df_TJX, on = "date")

NameError: name 'df' is not defined

In [176]:
df_consumer_discretionary.head()

,ticker_x,open_x,close_x,adj_close_x,low_x,high_x,volume_x,date,ticker_y,open_y,...,low_y,high_y,volume_y,ticker,open,close,adj_close,low,high,volume
0,F,9.488766,9.488766,0.095362,9.465956,9.602813,9277700,1987-07-24,CCL,3.87500,...,3.8750,3.93750,15566400,TJX,1.515625,1.531250,0.012169,1.507812,1.539062,1108800
1,F,9.500171,9.397528,0.094445,9.374718,9.522980,9291800,1987-07-27,CCL,3.93750,...,3.8750,3.93750,1931200,TJX,1.531250,1.578125,0.012542,1.523438,1.578125,385600
2,F,9.386123,9.249266,0.106281,9.215051,9.397528,13261800,1987-07-28,CCL,3.90625,...,3.8750,3.90625,2074800,TJX,1.578125,1.546875,0.012293,1.546875,1.601562,755200
3,F,9.260670,9.294885,0.106805,9.180837,9.294885,10328900,1987-07-29,CCL,3.87500,...,3.8750,3.90625,4930800,TJX,1.546875,1.515625,0.012045,1.492188,1.562500,1360000
4,F,9.317694,9.306290,0.106936,9.294885,9.386123,8125600,1987-07-30,CCL,3.87500,...,3.8125,3.90625,4654400,TJX,1.515625,1.562500,0.012417,1.515625,1.562500,2062400

In [177]:
df_consumer_discretionary["open consumer discretionary"] = df_consumer_discretionary["open_x"] + df_consumer_discretionary["open_y"] + df_consumer_discretionary["open"]

df_consumer_discretionary["close consumer discretionary"] = df_consumer_discretionary["close_x"] + df_consumer_discretionary["close_y"] + df_consumer_discretionary["close"]

df_consumer_discretionary["adjusted close consumer discretionary"] = df_consumer_discretionary["adj_close_x"] + df_consumer_discretionary["adj_close_y"] + df_consumer_discretionary["adj_close"]

df_consumer_discretionary["low consumer discretionary"] = df_consumer_discretionary["low_x"] + df_consumer_discretionary["low_y"] + df_consumer_discretionary["low"]

df_consumer_discretionary["high consumer discretionary"] = df_consumer_discretionary["high_x"] + df_consumer_discretionary["high_y"] + df_consumer_discretionary["high"]

df_consumer_discretionary["volume consumer discretionary"] = df_consumer_discretionary["volume_x"] + df_consumer_discretionary["volume_y"] + df_consumer_discretionary["volume"]

In [178]:
df_consumer_discretionary.drop(columns = ["ticker_x",
"open_x",
"close_x",
"adj_close_x",
"low_x",
"high_x",
"volume_x",
"date",
"ticker_y",
"open_y",
"close_y",
"adj_close_y",
"low_y",
"high_y",
"volume_y",
"ticker",
"open",
"close",
"adj_close",
"low",
"high",
"volume"],
inplace = True)

In [181]:
df_consumer_discretionary.head()

,ticker_x,open_x,close_x,adj_close_x,low_x,high_x,volume_x,date,ticker_y,open_y,...,adj_close,low,high,volume,open consumer discretionary,close consumer discretionary,adjusted close consumer discretionary,low consumer discretionary,high consumer discretionary,volume consumer discretionary
0,F,9.488766,9.488766,0.095362,9.465956,9.602813,9277700,1987-07-24,CCL,3.87500,...,0.012169,1.507812,1.539062,1108800,14.879391,14.957516,1.331415,14.848768,15.079375,25952900
1,F,9.500171,9.397528,0.094445,9.374718,9.522980,9291800,1987-07-27,CCL,3.93750,...,0.012542,1.523438,1.578125,385600,14.968921,14.881903,1.321158,14.773155,15.038605,11608600
2,F,9.386123,9.249266,0.106281,9.215051,9.397528,13261800,1987-07-28,CCL,3.90625,...,0.012293,1.546875,1.601562,755200,14.870498,14.671141,1.323030,14.636926,14.905340,16091800
3,F,9.260670,9.294885,0.106805,9.180837,9.294885,10328900,1987-07-29,CCL,3.87500,...,0.012045,1.492188,1.562500,1360000,14.682545,14.685510,1.323306,14.548024,14.763635,16619700
4,F,9.317694,9.306290,0.106936,9.294885,9.386123,8125600,1987-07-30,CCL,3.87500,...,0.012417,1.515625,1.562500,2062400,14.708319,14.681290,1.304384,14.623010,14.854873,14842400

In [185]:
df_consumer_discretionary.to_csv('df_consumer_discretionary.csv')

NEW CSV FILES END HERE



#
#
#
#
#
#
#

In [ ]:
df.head()

In [ ]:
df_2 = df.loc[df['ticker'] == 'VIX']

In [ ]:
df_2

In [ ]:
df.head(5)

In [ ]:
df.info

In [ ]:
df.shape

In [ ]:
df['ticker'].value_counts()

In [ ]:
df.isnull().sum()

In [ ]:
df.dtypes

In [ ]:
df['ticker'] == 'VIX'

In [ ]:
y = df['close']
X = df.drop(columns=['close', 'date', 'ticker'])

In [ ]:
print(X)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [ ]:
X_train.dtypes

In [ ]:
x_train = np.array(X_train)
x_test = np.array(X_test)

In [ ]:

ss = StandardScaler()

Xs_train = ss.fit_transform(x_train)
Xs_test = ss.transform(x_test)

In [ ]:
#setting up 'blank canvas'
model = Sequential()

#input layer
model.add(Dense(24,
               input_shape = x_train[0].shape,
               activation = 'relu'))

#hidden layer
model.add(Dense(8, activation = 'relu'))

#output layer
model.add(Dense(1, activation = 'linear'))

In [ ]:
model.compile(loss = 'mse', optimizer = 'adam', metrics = ['mse'])

In [ ]:
#history = model.fit(Xs_train, y_train, validation_data = (Xs_test, y_test), epochs = 100, verbose=0)

In [ ]:
newdf = df.loc[df['ticker'] == 'GOOG']

In [ ]:
newdf.value_counts()

In [ ]:
newdf.head()

In [ ]:
newdf.shape

In [ ]:
y = newdf['close']
X = newdf.drop(columns=['close', 'date', 'ticker'])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [ ]:
x_train = np.array(X_train)
x_test = np.array(X_test)

In [ ]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

Xs_train = ss.fit_transform(x_train)
Xs_test = ss.transform(x_test)

In [ ]:
#setting up 'blank canvas'
model = Sequential()

#input layer
model.add(Dense(24,
               input_shape = x_train[0].shape,
               activation = 'relu'))

#hidden layer
model.add(Dense(8, activation = 'relu'))

#output layer
model.add(Dense(1, activation = 'linear'))

In [ ]:
model.compile(loss = 'mse', optimizer = 'adam', metrics = ['mse', 'accuracy'])

In [ ]:
history = model.fit(Xs_train, y_train, validation_data = (Xs_test, y_test), epochs = 100, verbose=0)

In [ ]:
plt.plot(history.history['loss'], label='Train loss')
plt.plot(history.history['val_loss'], label='Val Loss')
plt.plot(history.history['accuracy'], label = 'Train Accuracy')
plt.plot(history.history['val_accuracy'], label = 'Val Accuracy')
plt.legend();

In [ ]:
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator

In [ ]:
train_sequences = TimeseriesGenerator(Xs_train, y_train, length=3, batch_size=64)

In [ ]:
test_sequences = TimeseriesGenerator(Xs_test, y_test, length=3, batch_size=64)

In [ ]:
predicted_stock_price = model.predict(Xs_test)

In [ ]:
plt.plot(X_test,label = ('Real GOOGLE Stock Price')
plt.plot(predicted_stock_price,label = ('Predicted GOOGLE Stock Price’)
plt.xticks(np.arange(0,459,50))
plt.title('GOOGLE Stock Price Prediction')
plt.xlabel('Time')
plt.ylabel('GOOGLE Stock Price')
plt.legend()
plt.show()

In [ ]:
plt.plot(y_test)
plt.plot(predicted_stock_price)
plt.legend()
plt.show();

In [ ]:
y_test